.pixel-art-react-container {
  .frames-handler {
    lost-utility: clearfix;
    display: flex;
    align-items: center;

    .frames-handler__add {
      background-color: #202225;
      border-radius: 45px;
      height: 45px;
      min-height: 45px;
      width: 45px;
      min-width: 45px;

      float: left;
      color: #3ba55d;
      font-size: 30px;
      margin-left: 10px;
    }

    .frame-handler__list {
      display: flex;
      padding: 0.2em;

      .list__container {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0.5em;
        justify-content: center;
      }
    }
  }
}
